body {
  margin: 0;
  font-family: "Roboto" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.demo-logo-vertical {
  height: 65px;
  margin: 0px;
}

.signin {
  position: absolute;
  right: "0";
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.home-title-section {
  font-size: "3rem";
  font-weight: "400";
  font-stretch: "normal";
  line-height: "1.05";
  color: "#565656";
  text-align: "center";
  margin: "2rem 0";
  width: "100%";
}

.ant-input:focus {
  border-color: #0076ce;
}

.ant-input:hover {
  border-color: #0076ce;
}

.login-form {
  left: 50%;
  top: 50%;
  position: absolute;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
